.faq {
    margin-top: 90px;

    @media (min-width: $bp-tablet) {
        margin-top: 120px;
    }

    @media (min-width: $bp-laptop) {
        margin-top: 140px;
    }
}

.faq__heading {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__heading-text {
    font-family: "Druk Cyr", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    color: $main-dark;

    @media (min-width: $bp-tablet) {
        font-size: 82px;
    }
}

.faq__btn {
    width: 210px;
    text-decoration: none;
    text-align: center;

    @media (min-width: $bp-tablet) {
        width: 230px;
    }

    @media (min-width: $bp-laptop) {
        width: 340px;
    }
}

.faq__list {
    margin-top: 40px;
    padding: 0;
    list-style: none;

    @media (min-width: $bp-tablet) {
        margin-top: 50px;
    }

    @media (min-width: $bp-laptop) {
        margin-top: 70px;
    }
}

.faq__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__item + .faq__item {
    border-top: 1px solid $main-dark;
}

.faq__item-question {
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.faq__item-question-heading {
    display: flex;
    align-items: flex-start;
    padding: 16px 0;
    font-family: "Druk Cyr", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: $main-dark;
    text-transform: uppercase;
    list-style: none;

    &::-webkit-details-marker,
    &::marker {
        display: none;
        content: "";
    }

    @media (min-width: $bp-tablet) {
        padding: 20px 0;
        font-size: 28px;
        line-height: 32px;
    }

    @media (min-width: $bp-laptop) {
        padding: 25px 0;
        font-size: 38px;
        line-height: 38px;
    }
}

.faq__item-question-heading::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 9px 20px 9px 0;
    font-size: 0;
    line-height: 0;
    border: 1px solid $main-dark;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    .faq__item-question:hover &,
    .faq__item-question[open] & {
        border-color: $green;
        background-color: $green;
    }

    @media (min-width: $bp-tablet) {
        width: 12px;
        height: 12px;
        margin: 10px 100px 10px 0;
    }

    @media (min-width: $bp-laptop) {
        width: 16px;
        height: 16px;
        margin: 11px 220px 11px 0;
    }
}

.faq__item-number {
    display: none;

    @media (min-width: $bp-tablet) {
        display: inline-block;
        width: 30px;
        margin: 8px 100px 8px 0;
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: $main-dark;
        text-align: center;
        transition: color 0.3s ease-in-out;

        .faq__item-question:hover &,
        .faq__item-question[open] & {
            color: $green;
        }
    }

    @media (min-width: $bp-laptop) {
        font-size: 14px;
        margin: 11px 200px 11px 0;
    }
}

.faq__item-question-body {
    padding-left: 30px;
    margin: 0 0 16px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $main-dark;

    @media (min-width: $bp-tablet) {
        padding-left: 242px;
        font-size: 15px;
    }

    @media (min-width: $bp-laptop) {
        padding-left: 466px;
        margin: 0 0 25px;
        font-size: 18px;
        line-height: 26px;
    }
}
