.vacancies {
    display: none;
}

.vacancies--open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    display: block;
    width: 100vw;
    height: 100vh;

    @media (min-width: $bp-tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.vacancies__backdrop {
    display: none;

    @media (min-width: $bp-tablet) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.9);
    }
}

.vacancies__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    background-color: #fff;

    @media (min-width: $bp-tablet) {
        height: auto;
        width: 80%;
        max-width: 630px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 20px;
    }

    @media (min-width: $bp-laptop) {
        padding: 40px;
    }
}

.vacancies__close-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 0;
    margin: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
}

.vacancies__close-btn-icon {
    width: 18px;
    height: 18px;
    stroke: $grey;
    transition: stroke 0.1s ease-in-out;

    &:hover {
        stroke: $green;
    }
}

.vacancies__heading {
    margin: 0 0 30px;
    font-family: "Druk Cyr", sans-serif;
    font-size: 46px;
    font-weight: 500;
    line-height: 46px;
    color: $main-dark;
    text-transform: uppercase;

    @media (min-width: $bp-tablet) {
        font-size: 50px;
        line-height: 50px;
    }

    @media (min-width: $bp-laptop) {
        margin: 0 0 40px;
        font-size: 64px;
        line-height: 64px;
    }
}

.vacancies__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.vacancies__link {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px 30px;
    padding: 12px 15px;
    border: 1px solid $main-dark;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: $green;
        border-color: $green;
    }

    @media (min-width: $bp-tablet) {
        padding: 12px 20px;
    }

    @media (min-width: $bp-laptop) {
        padding: 16px 25px;
    }
}

.vacancies__link-heading {
    margin: 0;
    font-family: "Druk Cyr", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    color: $main-dark;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;

    .vacancies__link:hover & {
        color: #fff;
    }

    @media (min-width: $bp-laptop) {
        font-size: 24px;
        line-height: 24px;
    }
}

.vacancies__link-arrow {
    width: 10px;
    height: 26px;
    stroke: $green;
    transition: all 0.1s ease-in-out;

    .vacancies__link:hover & {
        stroke: #fff;
        filter: drop-shadow(-10px 0 0 #fff);
    }
}

.vacancies__link-salary {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $green;
    transition: all 0.1s ease-in-out;

    .vacancies__link:hover & {
        color: #fff;
    }

    @media (min-width: $bp-tablet) {
        font-size: 15px;
    }

    @media (min-width: $bp-laptop) {
        font-size: 16px;
    }
}
